<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.dam.mapper.HistoryPicCengMapper">
    
    <resultMap type="com.tianji.dam.domain.HistoryPicCeng" id="HistoryPicCengResult">
        <result property="id"    column="id"    />
        <result property="pid"    column="pid"    />
        <result property="ceng"    column="ceng"    />
        <result property="htype"    column="htype"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="freedom1"    column="freedom1"    />
        <result property="freedom2"    column="freedom2"    />
        <result property="freedom3"    column="freedom3"    />
    </resultMap>

    <sql id="selectHistoryPicCengVo">
        select id, pid, ceng, htype, content, create_time, freedom1, freedom2, freedom3, from t_history_pic_ceng
    </sql>

    <select id="selectHistoryPicCengList" parameterType="com.tianji.dam.domain.HistoryPicCeng" resultMap="HistoryPicCengResult">
        <include refid="selectHistoryPicCengVo"/>
        <where>  
            <if test="pid != null "> and pid = #{pid}</if>
            <if test="ceng != null "> and ceng = #{ceng}</if>
            <if test="htype != null "> and htype = #{htype}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="freedom1 != null  and freedom1 != ''"> and freedom1 = #{freedom1}</if>
            <if test="freedom2 != null  and freedom2 != ''"> and freedom2 = #{freedom2}</if>
            <if test="freedom3 != null  and freedom3 != ''"> and freedom3 = #{freedom3}</if>
        </where>
    </select>
    
    <select id="selectHistoryPicCengById" parameterType="Long" resultMap="HistoryPicCengResult">
        <include refid="selectHistoryPicCengVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHistoryPicCeng" parameterType="com.tianji.dam.domain.HistoryPicCeng" useGeneratedKeys="true" keyProperty="id">
        insert into t_history_pic_ceng
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">pid,</if>
            <if test="ceng != null">ceng,</if>
            <if test="htype != null">htype,</if>
            <if test="content != null">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="freedom1 != null">freedom1,</if>
            <if test="freedom2 != null">freedom2,</if>
            <if test="freedom3 != null">freedom3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">#{pid},</if>
            <if test="ceng != null">#{ceng},</if>
            <if test="htype != null">#{htype},</if>
            <if test="content != null">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="freedom1 != null">#{freedom1},</if>
            <if test="freedom2 != null">#{freedom2},</if>
            <if test="freedom3 != null">#{freedom3},</if>
         </trim>
    </insert>

    <update id="updateHistoryPicCeng" parameterType="com.tianji.dam.domain.HistoryPicCeng">
        update t_history_pic_ceng
        <trim prefix="SET" suffixOverrides=",">
            <if test="pid != null">pid = #{pid},</if>
            <if test="ceng != null">ceng = #{ceng},</if>
            <if test="htype != null">htype = #{htype},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="freedom1 != null">freedom1 = #{freedom1},</if>
            <if test="freedom2 != null">freedom2 = #{freedom2},</if>
            <if test="freedom3 != null">freedom3 = #{freedom3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHistoryPicCengById" parameterType="Long">
        delete from t_history_pic_ceng where id = #{id}
    </delete>

    <delete id="deleteTHistoryPicBycengAndType">
        delete from t_history_pic_ceng where ceng = #{param1} and htype = #{param2}
    </delete>

    <delete id="deleteHistoryPicCengByIds" parameterType="String">
        delete from t_history_pic_ceng where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>