<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.mapper.TSiteWarningUserMapper">

    <resultMap type="com.tianji.dam.domain.TSiteWarningUser" id="TSiteWarningUserResult">
        <result property="userGid"    column="user_gid"    />
        <result property="referenceid"    column="referenceid"    />
        <result property="name"    column="name"    />
        <result property="tel"    column="tel"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="freedom1"    column="freedom1"    />
        <result property="freedom2"    column="freedom2"    />
        <result property="freedom3"    column="freedom3"    />
        <result property="freedom4"    column="freedom4"    />
        <result property="freedom5"    column="freedom5"    />
        <result property="deptName"    column="dept_name"    />

    </resultMap>

    <sql id="selectTSiteWarningUserVo">
        select site.user_gid, site.dept_id,d.dept_name, site.name,site. tel, site.status, site.create_by,
        site.create_time,site. freedom1,site. freedom2, site.freedom3, site.freedom4, site.freedom5
        from t_site_warning_user site
    </sql>

    <select id="selectTSiteWarningUserList" parameterType="com.tianji.dam.domain.TSiteWarningUser" resultMap="TSiteWarningUserResult">
        <include refid="selectTSiteWarningUserVo"/>
        <where>
            <if test="referenceid != null   and referenceid != ''"> and site.referenceid = #{referenceid}</if>
            <if test="name != null  and name != ''"> and site.name like concat('%', #{name}, '%')</if>
            <if test="tel != null  and tel != ''"> and site.tel = #{tel}</if>
            <if test="status != null "> and site.status = #{status}</if>
            <if test="freedom1 != null  and freedom1 != ''"> and site.freedom1 = #{freedom1}</if>
            <if test="freedom2 != null  and freedom2 != ''"> and site.freedom2 = #{freedom2}</if>
            <if test="freedom3 != null  and freedom3 != ''"> and site.freedom3 = #{freedom3}</if>
            <if test="freedom4 != null  and freedom4 != ''"> and site.freedom4 = #{freedom4}</if>
            <if test="freedom5 != null  and freedom5 != ''"> and site.freedom5 = #{freedom5}</if>
        </where>
        ${params.dataScope}
    </select>

    <select id="selectTSiteWarningUserList2" parameterType="com.tianji.dam.domain.TSiteWarningUser" resultMap="TSiteWarningUserResult">
        <include refid="selectTSiteWarningUserVo"/>
        <where>
            <if test="referenceid != null   and referenceid != ''"> and site.referenceid = #{referenceid}</if>
            <if test="name != null  and name != ''"> and site.name like concat('%', #{name}, '%')</if>
            <if test="tel != null  and tel != ''"> and site.tel = #{tel}</if>
            <if test="status != null "> and site.status = #{status}</if>
            <if test="freedom1 != null  and freedom1 != ''"> and site.freedom1 = #{freedom1}</if>
            <if test="freedom2 != null  and freedom2 != ''"> and site.freedom2 = #{freedom2}</if>
            <if test="freedom3 != null  and freedom3 != ''"> and site.freedom3 = #{freedom3}</if>
            <if test="freedom4 != null  and freedom4 != ''"> and site.freedom4 = #{freedom4}</if>
            <if test="freedom5 != null  and freedom5 != ''"> and site.freedom5 = #{freedom5}</if>
        </where>
    </select>

    <select id="selectTSiteWarningUserByUserGid" parameterType="String" resultMap="TSiteWarningUserResult">
        <include refid="selectTSiteWarningUserVo"/>
        where user_gid = #{userGid}
    </select>

    <insert id="insertTSiteWarningUser" parameterType="com.tianji.dam.domain.TSiteWarningUser">
        insert into t_warning_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userGid != null">user_gid,</if>
            <if test="referenceid != null">referenceid,</if>
            <if test="name != null">name,</if>
            <if test="tel != null">tel,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="freedom1 != null">freedom1,</if>
            <if test="freedom2 != null">freedom2,</if>
            <if test="freedom3 != null">freedom3,</if>
            <if test="freedom4 != null">freedom4,</if>
            <if test="freedom5 != null">freedom5,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userGid != null">#{userGid},</if>
            <if test="referenceid != null">#{referenceid},</if>
            <if test="name != null">#{name},</if>
            <if test="tel != null">#{tel},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="freedom1 != null">#{freedom1},</if>
            <if test="freedom2 != null">#{freedom2},</if>
            <if test="freedom3 != null">#{freedom3},</if>
            <if test="freedom4 != null">#{freedom4},</if>
            <if test="freedom5 != null">#{freedom5},</if>
        </trim>
    </insert>

    <update id="updateTSiteWarningUser" parameterType="com.tianji.dam.domain.TSiteWarningUser">
        update t_site_warning_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="referenceid != null">referenceid = #{referenceid},</if>
            <if test="name != null">name = #{name},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="freedom1 != null">freedom1 = #{freedom1},</if>
            <if test="freedom2 != null">freedom2 = #{freedom2},</if>
            <if test="freedom3 != null">freedom3 = #{freedom3},</if>
            <if test="freedom4 != null">freedom4 = #{freedom4},</if>
            <if test="freedom5 != null">freedom5 = #{freedom5},</if>
        </trim>
        where user_gid = #{userGid}
    </update>

    <delete id="deleteTSiteWarningUserByUserGid" parameterType="String">
        delete from t_warning_user where user_gid = #{userGid}
    </delete>

    <delete id="deleteTSiteWarningUserByUserGids" parameterType="String">
        delete from t_warning_user where user_gid in
        <foreach item="userGid" collection="array" open="(" separator="," close=")">
            #{userGid}
        </foreach>
    </delete>

    <select id="checkTelSiteUnique" parameterType="com.tianji.dam.domain.TSiteWarningUser" resultMap="TSiteWarningUserResult">
        <include refid="selectTSiteWarningUserVo"/>
        <where>
            <if test="referenceid != null   and referenceid != '' "> and site.referenceid = #{referenceid}</if>
            <if test="tel != null  and tel != ''"> and site.tel = #{tel}</if>
        </where>
    </select>


</mapper>