<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BFillMapper">
    
    <resultMap type="BFill" id="BFillResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="unitId"    column="unit_id"    />
        <result property="leaksNumber"    column="leaks_number"    />
        <result property="throughNumber"    column="through_number"    />
        <result property="dropSocketNumber"    column="drop_socket_number"    />
        <result property="nestDigging"    column="nest_digging"    />
        <result property="chargeArea"    column="charge_area"    />
        <result property="groutingQuantity"    column="grouting_quantity"    />
        <result property="investCapital"    column="invest_capital"    />
        <result property="quantityGovernance"    column="quantity_governance"    />
        <result property="fillType"    column="fill_type"    />
        <result property="inspector"    column="inspector"    />
        <result property="createTime"    column="create_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="freedom1"    column="freedom1"    />
        <result property="freedom2"    column="freedom2"    />
        <result property="freedom3"    column="freedom3"    />
        <result property="freedom4"    column="freedom4"    />
        <result property="freedom5"    column="freedom5"    />
    </resultMap>

    <sql id="selectBFillVo">
        select id, project_id, unit_id, leaks_number, through_number, drop_socket_number, nest_digging, charge_area, grouting_quantity, invest_capital, quantity_governance, fill_type, inspector, create_time, del_flag, freedom1, freedom2, freedom3, freedom4, freedom5 from b_fill
    </sql>

    <select id="selectBFillList" parameterType="BFill" resultMap="BFillResult">
        <include refid="selectBFillVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="unitId != null "> and unit_id = #{unitId}</if>
            <if test="leaksNumber != null "> and leaks_number = #{leaksNumber}</if>
            <if test="throughNumber != null "> and through_number = #{throughNumber}</if>
            <if test="dropSocketNumber != null "> and drop_socket_number = #{dropSocketNumber}</if>
            <if test="nestDigging != null "> and nest_digging = #{nestDigging}</if>
            <if test="chargeArea != null "> and charge_area = #{chargeArea}</if>
            <if test="groutingQuantity != null "> and grouting_quantity = #{groutingQuantity}</if>
            <if test="investCapital != null "> and invest_capital = #{investCapital}</if>
            <if test="quantityGovernance != null "> and quantity_governance = #{quantityGovernance}</if>
            <if test="fillType != null "> and fill_type = #{fillType}</if>
            <if test="inspector != null "> and inspector = #{inspector}</if>
            <if test="freedom1 != null  and freedom1 != ''"> and freedom1 = #{freedom1}</if>
            <if test="freedom2 != null  and freedom2 != ''"> and freedom2 = #{freedom2}</if>
            <if test="freedom3 != null  and freedom3 != ''"> and freedom3 = #{freedom3}</if>
            <if test="freedom4 != null  and freedom4 != ''"> and freedom4 = #{freedom4}</if>
            <if test="freedom5 != null  and freedom5 != ''"> and freedom5 = #{freedom5}</if>
        </where>
    </select>
    
    <select id="selectBFillById" parameterType="Long" resultMap="BFillResult">
        <include refid="selectBFillVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBFill" parameterType="BFill" useGeneratedKeys="true" keyProperty="id">
        insert into b_fill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="unitId != null">unit_id,</if>
            <if test="leaksNumber != null">leaks_number,</if>
            <if test="throughNumber != null">through_number,</if>
            <if test="dropSocketNumber != null">drop_socket_number,</if>
            <if test="nestDigging != null">nest_digging,</if>
            <if test="chargeArea != null">charge_area,</if>
            <if test="groutingQuantity != null">grouting_quantity,</if>
            <if test="investCapital != null">invest_capital,</if>
            <if test="quantityGovernance != null">quantity_governance,</if>
            <if test="fillType != null">fill_type,</if>
            <if test="inspector != null">inspector,</if>
            <if test="createTime != null">create_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="freedom1 != null">freedom1,</if>
            <if test="freedom2 != null">freedom2,</if>
            <if test="freedom3 != null">freedom3,</if>
            <if test="freedom4 != null">freedom4,</if>
            <if test="freedom5 != null">freedom5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="unitId != null">#{unitId},</if>
            <if test="leaksNumber != null">#{leaksNumber},</if>
            <if test="throughNumber != null">#{throughNumber},</if>
            <if test="dropSocketNumber != null">#{dropSocketNumber},</if>
            <if test="nestDigging != null">#{nestDigging},</if>
            <if test="chargeArea != null">#{chargeArea},</if>
            <if test="groutingQuantity != null">#{groutingQuantity},</if>
            <if test="investCapital != null">#{investCapital},</if>
            <if test="quantityGovernance != null">#{quantityGovernance},</if>
            <if test="fillType != null">#{fillType},</if>
            <if test="inspector != null">#{inspector},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="freedom1 != null">#{freedom1},</if>
            <if test="freedom2 != null">#{freedom2},</if>
            <if test="freedom3 != null">#{freedom3},</if>
            <if test="freedom4 != null">#{freedom4},</if>
            <if test="freedom5 != null">#{freedom5},</if>
         </trim>
    </insert>

    <update id="updateBFill" parameterType="BFill">
        update b_fill
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="unitId != null">unit_id = #{unitId},</if>
            <if test="leaksNumber != null">leaks_number = #{leaksNumber},</if>
            <if test="throughNumber != null">through_number = #{throughNumber},</if>
            <if test="dropSocketNumber != null">drop_socket_number = #{dropSocketNumber},</if>
            <if test="nestDigging != null">nest_digging = #{nestDigging},</if>
            <if test="chargeArea != null">charge_area = #{chargeArea},</if>
            <if test="groutingQuantity != null">grouting_quantity = #{groutingQuantity},</if>
            <if test="investCapital != null">invest_capital = #{investCapital},</if>
            <if test="quantityGovernance != null">quantity_governance = #{quantityGovernance},</if>
            <if test="fillType != null">fill_type = #{fillType},</if>
            <if test="inspector != null">inspector = #{inspector},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="freedom1 != null">freedom1 = #{freedom1},</if>
            <if test="freedom2 != null">freedom2 = #{freedom2},</if>
            <if test="freedom3 != null">freedom3 = #{freedom3},</if>
            <if test="freedom4 != null">freedom4 = #{freedom4},</if>
            <if test="freedom5 != null">freedom5 = #{freedom5},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBFillById" parameterType="Long">
        delete from b_fill where id = #{id}
    </delete>

    <delete id="deleteBFillByIds" parameterType="String">
        delete from b_fill where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>