<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BInspectorUnitMapper">
    
    <resultMap type="BInspectorUnit" id="BInspectorUnitResult">
        <result property="id"    column="id"    />
        <result property="inspector"    column="inspector"    />
        <result property="projectId"    column="project_id"    />
        <result property="patrolUnitId"    column="patrol_unit_id"    />
    </resultMap>

    <sql id="selectBInspectorUnitVo">
        select id, inspector, project_id, patrol_unit_id from b_inspector_unit
    </sql>

    <select id="selectBInspectorUnitList" parameterType="BInspectorUnit" resultMap="BInspectorUnitResult">
        <include refid="selectBInspectorUnitVo"/>
        <where>  
            <if test="inspector != null "> and inspector = #{inspector}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="patrolUnitId != null "> and patrol_unit_id = #{patrolUnitId}</if>
        </where>
    </select>
    
    <select id="selectBInspectorUnitById" parameterType="Long" resultMap="BInspectorUnitResult">
        <include refid="selectBInspectorUnitVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBInspectorUnit" parameterType="BInspectorUnit" useGeneratedKeys="true" keyProperty="id">
        insert into b_inspector_unit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inspector != null">inspector,</if>
            <if test="projectId != null">project_id,</if>
            <if test="patrolUnitId != null">patrol_unit_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inspector != null">#{inspector},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="patrolUnitId != null">#{patrolUnitId},</if>
         </trim>
    </insert>

    <update id="updateBInspectorUnit" parameterType="BInspectorUnit">
        update b_inspector_unit
        <trim prefix="SET" suffixOverrides=",">
            <if test="inspector != null">inspector = #{inspector},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="patrolUnitId != null">patrol_unit_id = #{patrolUnitId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBInspectorUnitById" parameterType="Long">
        delete from b_inspector_unit where id = #{id}
    </delete>

    <delete id="deleteBInspectorUnitByIds" parameterType="String">
        delete from b_inspector_unit where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--
    <delete id="deleteBPatrolUnitByProject" parameterType="Long">
        delete from b_inspector_unit where project_id = #{projectId}
    </delete>
-->

    <delete id="deleteBInspectorUnit" parameterType="Long">
        delete from b_inspector_unit where inspector = #{inspector} and project_id = #{projectId}
    </delete>
</mapper>