<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BPatrolMapper">
    
    <resultMap type="BPatrol" id="BPatrolResult">
        <result property="id"    column="id"    />
        <result property="patrolType"    column="patrol_type"    />
        <result property="patrolUnit"    column="patrol_unit"    />
        <result property="unitName"    column="unit_name"    />
        <result property="projectName"    column="project_name"    />
        <result property="inspectorId"    column="inspector_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="pileNumber"    column="pile_number"    />
        <result property="sectionPosition"    column="section_position"    />
        <result property="axisDistance"    column="axis_distance"    />
        <result property="description"    column="description"    />
        <result property="patrolTime"    column="patrol_time"    />
        <result property="address"    column="address"    />
        <result property="lon"    column="lon"    />
        <result property="lat"    column="lat"    />
        <result property="high"    column="high"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="freedom1"    column="freedom1"    />
        <result property="freedom2"    column="freedom2"    />
        <result property="freedom3"    column="freedom3"    />
        <result property="freedom4"    column="freedom4"    />
        <result property="freedom5"    column="freedom5"    />
        <result property="typeName"    column="type_name"    />
    </resultMap>

    <sql id="selectBPatrolVo">
        SELECT
        a.id,
        a.patrol_type,
        a.patrol_unit,
        b.unit_name,
        a.inspector_id,
        a.project_id,
        c.project_name,
        a.pile_number,
        a.section_position,
        a.axis_distance,
        a.description,
        a.patrol_time,
        a.address,
        a.lon,
        a.lat,
        a.high,
        a.audit_status,
        a.freedom1,
        a.freedom2,
        a.freedom3,
        a.freedom4,
        a.freedom5,
        a.X,
        a.Y,
        bt.type_name
        FROM
        b_patrol a
        LEFT JOIN b_patrol_unit b ON a.patrol_unit = b.id
        LEFT JOIN b_project c ON b.project_id = c.id
        LEFT JOIN b_patrol_type bt ON bt.id = a.patrol_type


    </sql>

    <select id="selectBPatrolList" parameterType="BPatrol" resultMap="BPatrolResult">
        <include refid="selectBPatrolVo"/>
        <where>  
            <if test="patrolType != null "> and a.patrol_type = #{patrolType}</if>
            <if test="patrolUnit != null  and patrolUnit != ''"> and a.patrol_unit = #{patrolUnit}</if>
            <if test="inspectorId != null "> and a.inspector_id = #{inspectorId}</if>
            <if test="projectId != null "> and a.project_id = #{projectId}</if>
            <if test="pileNumber != null  and pileNumber != ''"> and a.pile_number = #{pileNumber}</if>
            <if test="sectionPosition != null  and sectionPosition != ''"> and a.section_position = #{sectionPosition}</if>
            <if test="axisDistance != null  and axisDistance != ''"> and a.axis_distance = #{axisDistance}</if>
            <if test="description != null  and description != ''"> and a.description = #{description}</if>
            <if test="patrolTime != null  and patrolTime != ''"> and a.patrol_time = #{patrolTime}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="lon != null  and lon != ''"> and lon = #{lon}</if>
            <if test="lat != null  and lat != ''"> and lat = #{lat}</if>
            <if test="high != null  and high != ''"> and high = #{high}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
            <if test="freedom1 != null  and freedom1 != ''"> and freedom1 = #{freedom1}</if>
            <if test="freedom2 != null  and freedom2 != ''"> and freedom2 = #{freedom2}</if>
            <if test="freedom3 != null  and freedom3 != ''"> and freedom3 = #{freedom3}</if>
            <if test="freedom4 != null  and freedom4 != ''"> and freedom4 = #{freedom4}</if>
            <if test="freedom5 != null  and freedom5 != ''"> and freedom5 = #{freedom5}</if>
        </where>
    </select>
    
    <select id="selectBPatrolById" parameterType="Long" resultMap="BPatrolResult">
        <include refid="selectBPatrolVo"/>
        where a.id = #{id}
    </select>
        
    <insert id="insertBPatrol" parameterType="BPatrol" useGeneratedKeys="true" keyProperty="id">
        insert into b_patrol
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patrolType != null">patrol_type,</if>
            <if test="patrolUnit != null">patrol_unit,</if>
            <if test="inspectorId != null">inspector_id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="pileNumber != null">pile_number,</if>
            <if test="sectionPosition != null">section_position,</if>
            <if test="axisDistance != null">axis_distance,</if>
            <if test="description != null">description,</if>
            <if test="patrolTime != null">patrol_time,</if>
            <if test="address != null">address,</if>
            <if test="lon != null">lon,</if>
            <if test="lat != null">lat,</if>
            <if test="high != null">high,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="freedom1 != null">freedom1,</if>
            <if test="freedom2 != null">freedom2,</if>
            <if test="freedom3 != null">freedom3,</if>
            <if test="freedom4 != null">freedom4,</if>
            <if test="freedom5 != null">freedom5,</if>
            <if test="X != null">X,</if>
            <if test="Y != null">Y,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patrolType != null">#{patrolType},</if>
            <if test="patrolUnit != null">#{patrolUnit},</if>
            <if test="inspectorId != null">#{inspectorId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="pileNumber != null">#{pileNumber},</if>
            <if test="sectionPosition != null">#{sectionPosition},</if>
            <if test="axisDistance != null">#{axisDistance},</if>
            <if test="description != null">#{description},</if>
            <if test="patrolTime != null">#{patrolTime},</if>
            <if test="address != null">#{address},</if>
            <if test="lon != null">#{lon},</if>
            <if test="lat != null">#{lat},</if>
            <if test="high != null">#{high},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="freedom1 != null">#{freedom1},</if>
            <if test="freedom2 != null">#{freedom2},</if>
            <if test="freedom3 != null">#{freedom3},</if>
            <if test="freedom4 != null">#{freedom4},</if>
            <if test="freedom5 != null">#{freedom5},</if>
            <if test="X != null">#{X},</if>
            <if test="Y != null">#{Y},</if>
         </trim>
    </insert>

    <update id="updateBPatrol" parameterType="BPatrol">
        update b_patrol
        <trim prefix="SET" suffixOverrides=",">
            <if test="patrolType != null">patrol_type = #{patrolType},</if>
            <if test="patrolUnit != null">patrol_unit = #{patrolUnit},</if>
            <if test="inspectorId != null">inspector_id = #{inspectorId},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="pileNumber != null">pile_number = #{pileNumber},</if>
            <if test="sectionPosition != null">section_position = #{sectionPosition},</if>
            <if test="axisDistance != null">axis_distance = #{axisDistance},</if>
            <if test="description != null">description = #{description},</if>
            <if test="patrolTime != null">patrol_time = #{patrolTime},</if>
            <if test="address != null">address = #{address},</if>
            <if test="lon != null">lon = #{lon},</if>
            <if test="lat != null">lat = #{lat},</if>
            <if test="high != null">high = #{high},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="freedom1 != null">freedom1 = #{freedom1},</if>
            <if test="freedom2 != null">freedom2 = #{freedom2},</if>
            <if test="freedom3 != null">freedom3 = #{freedom3},</if>
            <if test="freedom4 != null">freedom4 = #{freedom4},</if>
            <if test="freedom5 != null">freedom5 = #{freedom5},</if>
            <if test="X != null">X = #{X},</if>
            <if test="Y != null">Y = #{Y},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBPatrolById" parameterType="Long">
        delete from b_patrol where id = #{id}
    </delete>

    <delete id="deleteBPatrolByIds" parameterType="String">
        delete from b_patrol where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectZhishiWuNumbers" parameterType="map" resultType="map">

        SELECT

        SUM(CASE WHEN patrol_type = 1 THEN 1 ELSE 0 END) as '鸡枞菌',
        SUM(CASE WHEN patrol_type = 2 THEN 1 ELSE 0 END) as '碳棒菌',
        SUM(CASE WHEN patrol_type = 3 THEN 1 ELSE 0 END) as '泥被',
        SUM(CASE WHEN patrol_type = 4 THEN 1 ELSE 0 END) as '分飞孔',
        SUM(CASE WHEN patrol_type = 5 THEN 1 ELSE 0 END) as '啃食木材',
        SUM(CASE WHEN patrol_type = 6 THEN 1 ELSE 0 END) as '白蚁',
        SUM(CASE WHEN patrol_type = 7 THEN 1 ELSE 0 END) as '巢穴',
        SUM(CASE WHEN patrol_type = 8 THEN 1 ELSE 0 END) as '取食点(白蚁)',
        SUM(CASE WHEN patrol_type = 9 THEN 1 ELSE 0 END) as '活动迹象',
        SUM(CASE WHEN patrol_type = 10 THEN 1 ELSE 0 END) as '取食点（鼠）',
        SUM(CASE WHEN patrol_type =11 THEN 1 ELSE 0 END) as '洞穴',
        SUM(CASE WHEN patrol_type = 12 THEN 1 ELSE 0 END) as '泥线',
        SUM(CASE WHEN patrol_type = 13 THEN 1 ELSE 0 END) as '捕获动物'



        FROM `b_patrol`
        WHERE project_id IN
        <foreach collection='ids' item='id' open='(' separator=',' close=')'>
            #{id}
        </foreach>
        ORDER BY  patrol_type asc


    </select>



</mapper>