<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BPatrolTypeMapper">
    
    <resultMap type="BPatrolType" id="BPatrolTypeResult">
        <result property="id"    column="id"    />
        <result property="patrolType"    column="patrol_type"    />
        <result property="typeName"    column="type_name"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="freedom1"    column="freedom1"    />
        <result property="freedom2"    column="freedom2"    />
        <result property="freedom3"    column="freedom3"    />
        <result property="freedom4"    column="freedom4"    />
        <result property="freedom5"    column="freedom5"    />
    </resultMap>

    <sql id="selectBPatrolTypeVo">
        select id, patrol_type, type_name, del_flag, create_by, create_time, update_by, update_time, freedom1, freedom2, freedom3, freedom4, freedom5 from b_patrol_type
    </sql>

    <select id="selectBPatrolTypeList" parameterType="BPatrolType" resultMap="BPatrolTypeResult">
        <include refid="selectBPatrolTypeVo"/>
        <where>  
            <if test="patrolType != null "> and patrol_type = #{patrolType}</if>
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
            <if test="freedom1 != null  and freedom1 != ''"> and freedom1 = #{freedom1}</if>
            <if test="freedom2 != null  and freedom2 != ''"> and freedom2 = #{freedom2}</if>
            <if test="freedom3 != null  and freedom3 != ''"> and freedom3 = #{freedom3}</if>
            <if test="freedom4 != null  and freedom4 != ''"> and freedom4 = #{freedom4}</if>
            <if test="freedom5 != null  and freedom5 != ''"> and freedom5 = #{freedom5}</if>
        </where>
    </select>
    
    <select id="selectBPatrolTypeById" parameterType="Long" resultMap="BPatrolTypeResult">
        <include refid="selectBPatrolTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBPatrolType" parameterType="BPatrolType" useGeneratedKeys="true" keyProperty="id">
        insert into b_patrol_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patrolType != null">patrol_type,</if>
            <if test="typeName != null">type_name,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="freedom1 != null">freedom1,</if>
            <if test="freedom2 != null">freedom2,</if>
            <if test="freedom3 != null">freedom3,</if>
            <if test="freedom4 != null">freedom4,</if>
            <if test="freedom5 != null">freedom5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patrolType != null">#{patrolType},</if>
            <if test="typeName != null">#{typeName},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="freedom1 != null">#{freedom1},</if>
            <if test="freedom2 != null">#{freedom2},</if>
            <if test="freedom3 != null">#{freedom3},</if>
            <if test="freedom4 != null">#{freedom4},</if>
            <if test="freedom5 != null">#{freedom5},</if>
         </trim>
    </insert>

    <update id="updateBPatrolType" parameterType="BPatrolType">
        update b_patrol_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="patrolType != null">patrol_type = #{patrolType},</if>
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="freedom1 != null">freedom1 = #{freedom1},</if>
            <if test="freedom2 != null">freedom2 = #{freedom2},</if>
            <if test="freedom3 != null">freedom3 = #{freedom3},</if>
            <if test="freedom4 != null">freedom4 = #{freedom4},</if>
            <if test="freedom5 != null">freedom5 = #{freedom5},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBPatrolTypeById" parameterType="Long">
        delete from b_patrol_type where id = #{id}
    </delete>

    <delete id="deleteBPatrolTypeByIds" parameterType="String">
        delete from b_patrol_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>