<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BProjectMapper">

    <resultMap type="BProject" id="BProjectResult">
        <result property="id"    column="id"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectType"    column="project_type"    />
        <result property="deptId"    column="dept_id"    />
        <result property="registrationNumber"    column="registration_number"    />
        <result property="address"    column="address"    />
        <result property="reservoirGrade"    column="reservoir_grade"    />
        <result property="dykeGrade"    column="dyke_grade"    />
        <result property="dykeLength"    column="dyke_length"    />
        <result property="dykePatrolLength"    column="dyke_patrol_length"    />
        <result property="dykePile"    column="dyke_pile"    />
        <result property="dykePileEnd"    column="dyke_pile_end"    />
        <result property="dykePatrolPile"    column="dyke_patrol_pile"    />
        <result property="dykePatrolPileEnd"    column="dyke_patrol_pile_end"    />
        <result property="storageCapacity"    column="storage_capacity"    />
        <result property="censusMethod"    column="census_method"    />
        <result property="person"    column="person"    />
        <result property="personPhone"    column="person_phone"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="freedom1"    column="freedom1"    />
        <result property="freedom2"    column="freedom2"    />
        <result property="freedom3"    column="freedom3"    />
        <result property="freedom4"    column="freedom4"    />
        <result property="freedom5"    column="freedom5"    />
    </resultMap>

    <sql id="selectBProjectVo">
        select id, project_name, project_type, dept_id, registration_number, address, reservoir_grade, dyke_grade, dyke_length, dyke_patrol_length, dyke_pile, dyke_pile_end, dyke_patrol_pile, dyke_patrol_pile_end, storage_capacity, census_method, person, person_phone, del_flag, create_by, create_time, update_by, update_time, freedom1, freedom2, freedom3, freedom4, freedom5 from b_project
    </sql>

    <select id="selectBProjectList" parameterType="BProject" resultMap="BProjectResult">
        <include refid="selectBProjectVo"/>
        <where>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="projectType != null "> and project_type = #{projectType}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="registrationNumber != null  and registrationNumber != ''"> and registration_number = #{registrationNumber}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="reservoirGrade != null "> and reservoir_grade = #{reservoirGrade}</if>
            <if test="dykeGrade != null "> and dyke_grade = #{dykeGrade}</if>
            <if test="dykeLength != null "> and dyke_length = #{dykeLength}</if>
            <if test="dykePatrolLength != null "> and dyke_patrol_length = #{dykePatrolLength}</if>
            <if test="dykePile != null  and dykePile != ''"> and dyke_pile = #{dykePile}</if>
            <if test="dykePileEnd != null  and dykePileEnd != ''"> and dyke_pile_end = #{dykePileEnd}</if>
            <if test="dykePatrolPile != null  and dykePatrolPile != ''"> and dyke_patrol_pile = #{dykePatrolPile}</if>
            <if test="dykePatrolPileEnd != null  and dykePatrolPileEnd != ''"> and dyke_patrol_pile_end = #{dykePatrolPileEnd}</if>
            <if test="storageCapacity != null  and storageCapacity != ''"> and storage_capacity = #{storageCapacity}</if>
            <if test="censusMethod != null "> and census_method = #{censusMethod}</if>
            <if test="person != null  and person != ''"> and person = #{person}</if>
            <if test="personPhone != null  and personPhone != ''"> and person_phone = #{personPhone}</if>
            <if test="freedom1 != null  and freedom1 != ''"> and freedom1 = #{freedom1}</if>
            <if test="freedom2 != null  and freedom2 != ''"> and freedom2 = #{freedom2}</if>
            <if test="freedom3 != null  and freedom3 != ''"> and freedom3 = #{freedom3}</if>
            <if test="freedom4 != null  and freedom4 != ''"> and freedom4 = #{freedom4}</if>
            <if test="freedom5 != null  and freedom5 != ''"> and freedom5 = #{freedom5}</if>
        </where>
    </select>

    <select id="selectBProjectById" parameterType="Long" resultMap="BProjectResult">
        <include refid="selectBProjectVo"/>
        where id = #{id}
    </select>

    <insert id="insertBProject" parameterType="BProject" useGeneratedKeys="true" keyProperty="id">
        insert into b_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectName != null">project_name,</if>
            <if test="projectType != null">project_type,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="registrationNumber != null">registration_number,</if>
            <if test="address != null">address,</if>
            <if test="reservoirGrade != null">reservoir_grade,</if>
            <if test="dykeGrade != null">dyke_grade,</if>
            <if test="dykeLength != null">dyke_length,</if>
            <if test="dykePatrolLength != null">dyke_patrol_length,</if>
            <if test="dykePile != null">dyke_pile,</if>
            <if test="dykePileEnd != null">dyke_pile_end,</if>
            <if test="dykePatrolPile != null">dyke_patrol_pile,</if>
            <if test="dykePatrolPileEnd != null">dyke_patrol_pile_end,</if>
            <if test="storageCapacity != null">storage_capacity,</if>
            <if test="censusMethod != null">census_method,</if>
            <if test="person != null">person,</if>
            <if test="personPhone != null">person_phone,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="freedom1 != null">freedom1,</if>
            <if test="freedom2 != null">freedom2,</if>
            <if test="freedom3 != null">freedom3,</if>
            <if test="freedom4 != null">freedom4,</if>
            <if test="freedom5 != null">freedom5,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectName != null">#{projectName},</if>
            <if test="projectType != null">#{projectType},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="registrationNumber != null">#{registrationNumber},</if>
            <if test="address != null">#{address},</if>
            <if test="reservoirGrade != null">#{reservoirGrade},</if>
            <if test="dykeGrade != null">#{dykeGrade},</if>
            <if test="dykeLength != null">#{dykeLength},</if>
            <if test="dykePatrolLength != null">#{dykePatrolLength},</if>
            <if test="dykePile != null">#{dykePile},</if>
            <if test="dykePileEnd != null">#{dykePileEnd},</if>
            <if test="dykePatrolPile != null">#{dykePatrolPile},</if>
            <if test="dykePatrolPileEnd != null">#{dykePatrolPileEnd},</if>
            <if test="storageCapacity != null">#{storageCapacity},</if>
            <if test="censusMethod != null">#{censusMethod},</if>
            <if test="person != null">#{person},</if>
            <if test="personPhone != null">#{personPhone},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="freedom1 != null">#{freedom1},</if>
            <if test="freedom2 != null">#{freedom2},</if>
            <if test="freedom3 != null">#{freedom3},</if>
            <if test="freedom4 != null">#{freedom4},</if>
            <if test="freedom5 != null">#{freedom5},</if>
        </trim>
    </insert>

    <update id="updateBProject" parameterType="BProject">
        update b_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="projectType != null">project_type = #{projectType},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="registrationNumber != null">registration_number = #{registrationNumber},</if>
            <if test="address != null">address = #{address},</if>
            <if test="reservoirGrade != null">reservoir_grade = #{reservoirGrade},</if>
            <if test="dykeGrade != null">dyke_grade = #{dykeGrade},</if>
            <if test="dykeLength != null">dyke_length = #{dykeLength},</if>
            <if test="dykePatrolLength != null">dyke_patrol_length = #{dykePatrolLength},</if>
            <if test="dykePile != null">dyke_pile = #{dykePile},</if>
            <if test="dykePileEnd != null">dyke_pile_end = #{dykePileEnd},</if>
            <if test="dykePatrolPile != null">dyke_patrol_pile = #{dykePatrolPile},</if>
            <if test="dykePatrolPileEnd != null">dyke_patrol_pile_end = #{dykePatrolPileEnd},</if>
            <if test="storageCapacity != null">storage_capacity = #{storageCapacity},</if>
            <if test="censusMethod != null">census_method = #{censusMethod},</if>
            <if test="person != null">person = #{person},</if>
            <if test="personPhone != null">person_phone = #{personPhone},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="freedom1 != null">freedom1 = #{freedom1},</if>
            <if test="freedom2 != null">freedom2 = #{freedom2},</if>
            <if test="freedom3 != null">freedom3 = #{freedom3},</if>
            <if test="freedom4 != null">freedom4 = #{freedom4},</if>
            <if test="freedom5 != null">freedom5 = #{freedom5},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBProjectById" parameterType="Long">
        delete from b_project where id = #{id}
    </delete>

    <delete id="deleteBProjectByIds" parameterType="String">
        delete from b_project where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getBProjectByDept" parameterType="BProject" resultMap="BProjectResult">
        select pro.id, pro.project_name, pro.project_type, pro.dept_id, pro.registration_number, pro.address, pro.reservoir_grade, pro.dyke_grade, pro.dyke_length, pro.dyke_patrol_length, pro.dyke_pile,pro.dyke_pile_end, pro.dyke_patrol_pile,pro.dyke_patrol_pile_end, pro.person, pro.person_phone, pro.del_flag, pro.create_by, pro.create_time, pro.update_by, pro.update_time, pro.freedom1, pro.freedom2, pro.freedom3, pro.freedom4, pro.freedom5,dept.dept_name from b_project pro INNER JOIN sys_dept dept on dept.dept_id=pro.dept_id
       where pro.del_flag ='0' and  pro.dept_id in
        <foreach collection="list" item="deptId" open="(" separator="," close=")">
            #{deptId}
        </foreach>
    </select>




    <select id="selectBProjectListJoinPrevent" parameterType="long" resultType="map">
        SELECT
        pro.id,
        pro.project_name,
        pro.project_type,
        pro.dept_id,
        pro.registration_number,
        pro.address,
        pro.reservoir_grade,
        pro.dyke_grade,
        pro.dyke_length,
        pro.dyke_patrol_length,
        pro.dyke_pile,
        pro.dyke_pile_end,
        pro.dyke_patrol_pile,
        pro.dyke_patrol_pile_end,
        pro.person,
        pro.person_phone,
        pro.del_flag,
        pro.create_by,
        pro.create_time,
        pro.update_by,
        pro.update_time,
        pro.freedom1,
        pro.freedom2,
        pro.freedom3,
        pro.freedom4,
        pro.freedom5,
        pre.detriment_type,
        pre.project_id,
        pre.unit_id,
        pre.detriment_level,
        pre.leaks_number,
        pre.through_number,
        pre.drop_socket_number,
        pre.nest_digging,
        pre.charge_area,
        pre.grouting_quantity,
        pre.invest_capital,
        pre.zoon_type,
        pre.zoon_govern_number,
        pre.zoon_govern_type,
        dyk.unit_id AS dyk_unit_id,
        dyk.detriment_level AS dyk_detriment_level,
        dyk.leaks_number AS dyk_leaks_number,
        dyk.through_number AS dyk_through_number,
        dyk.drop_socket_number AS dyk_drop_socket_number,
        dyk.nest_digging AS dyk_nest_digging,
        dyk.charge_area AS dyk_charge_area,
        dyk.grouting_quantity AS dyk_grouting_quantity,
        dyk.invest_capital AS dyk_invest_capital,
        dyk.zoon_type AS dyk_zoon_type,
        dyk.zoon_govern_type AS dyk_zoon_govern_type,
        dyk.detriment_length AS dyk_detriment_length,
        dyk.one_detriment_length AS dyk_one_detriment_length,
        dyk.two_detriment_length AS dyk_two_detriment_length,
        dyk.three_detriment_length AS dyk_three_detriment_length
        FROM
        b_project pro
        LEFT JOIN b_reservoir_prevention pre ON pre.project_id = pro.id
        LEFT JOIN b_dyke_prevention dyk ON dyk.project_id = pro.id -- 修正 JOIN 条件
        WHERE
        pro.id = #{id};


    </select>




</mapper>